<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TeleBot.Visual.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TeleBot.Visual.AppSettings>
      <setting name="BinanceKey" serializeAs="String">
        <value>tfu5h4rWwlLyxe8XkSV1E5TqTJMcGWyDYR1gDwxnSPRcUWA5VW5C1dUlYxYzPRhJ</value>
      </setting>
      <setting name="BinanceSecret" serializeAs="String">
        <value>gU6ReQQiXlA5wFskKmfUXpSzNR5N6LgrrPY2xBS6uErnsoLRVqyBzpU09wS1u07s</value>
      </setting>
      <setting name="BittrexKey" serializeAs="String">
        <value>4c6b9d4bfb88487692bb5e73bd15e63a</value>
      </setting>
      <setting name="BittrexSecret" serializeAs="String">
        <value>7404432c2d604f45a764ef0bdd7835d9</value>
      </setting>
      <setting name="TelegramBotId" serializeAs="String">
        <value>529680487:AAFP2d-wSsdjlr2Zw8NT52wDnMWOKnItwqQ</value>
      </setting>
    </TeleBot.Visual.AppSettings>
  </applicationSettings>
</configuration>